body {
    background: #dfe6e9;
    font-family: Arial, sans-serif;
}

/* 表示部分のみ縁と背景維持 */
.display, .timeW {
    background:#fff;
    border:2px solid #ccc;
}

.btn {
    margin-right: 4px;
}

.startW, .stopW {
    margin-right: 8px;
}

